.roomCard{
    border-radius: 20px;
    color: black;
    padding: 20px ;
    width: 100%;
    margin: 20px; 
    /* margin-left: 0px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bookingbtn {
    width: 100%;
    background-color: #f1c500;
    color: black;
    animation-duration: 1ms;
    transition: 0.3s;
    font-size: 16px;
    /* border-color: ; */
}
.bookingbtn:hover {
    background-color: white;
    color: #f1c500;
    border-color: #f1c500;
    transition: 0.3s;
    font-size: 16px;
}
:where(.css-dbp7pc).ant-btn:not(:disabled):not(.ant-btn-disabled):hover{
     background-color: white;
    color: #f1c500;
    border-color: #f1c500;
    transition: 0.3s;
    font-size: 16px;
}